.viewuploadimage{
	margin:50px auto;
	width:90%;
	position:relative;
}

.viewuploadimage .picitem{
	float:left;
	text-align:center;	
	margin-right:18px;
}
.viewuploadimage input[type=text]{
	display:block;	
	border:1px solid #eee;
}
.viewuploadimage .picitem img{
	border: 1px solid #222222;
	box-shadow:0 0 7px #222222;
}